shtml {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body {
    overflow-x: hidden;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;   
}

.content-wrapper {
    margin-left: 5vw;
    margin-top: 60px;
    margin-right: 40px;
    margin-bottom: 50px;
}

.content-wrapper h1 {
    font-size: 70px;
    font-weight: 800;
}

.content-wrapper .cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.content-wrapper .card {
    margin: 10px 60px 60px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    width: 300px;
    position: relative;
}

.content-wrapper .card-content {
    padding: 5px 20px 20px 20px;
}

.card .prediction {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px 12px 14px;
    width: 42px;
    border-bottom-left-radius: 50%;
    border-top-right-radius: inherit;
    background-color: black;
    color: white;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.card .prediction-description {
    color: white;
    font-size: 12px;
    font-weight: 300;
    height: 0px;
    width: 0px;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    opacity: 0;
    white-space: nowrap;
}

.card .prediction-number {
    font-weight: 700;
    font-size: 22px;
    margin-top: 0px;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.card .image-container {
    margin: 0;
    width: 100%;
    height: 134px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.image-container img {
    margin: 12px 0px 12px 0px;
    max-height: 110px;
    max-width: 280px;
    width: auto;
}


/* Card hover fx */
.card:hover .prediction {
    border-bottom-left-radius: 10px;
    padding: 22px 0px 18px 24px;
    width: 170px;
}

.card:hover .prediction-number {
    font-size: 32px;
    margin-top: 5px;
    width: fit-content;
}

.card:hover .prediction-description {
    height: 30px;
    width: 125px;
    opacity: 1;
}