<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stonkscast Dashboard</title>

    <link rel="stylesheet" href="./../../static/web_app/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content-wrapper">
        <h1>Dashboard</h1>
        <div class="cards">

            <div class="card">
                <div class="prediction">
                    <div class="prediction-description">AI-generated<br>Meme-Stock probability</div>
                    <div class="prediction-number">97%</div>
                </div>
                <div class="image-container">
                    <img src="https://logo.clearbit.com/nationalbeverage.com" alt="Company logo">
                </div>
                <div class="card-content">
                    <h2>National Beverage</h2>
                    <p>Market: US</p>
                    <p>KGV: 16</p>
                </div>
            </div>

            <div class="card">
                <div class="prediction">
                    <div class="prediction-description">AI-generated<br>Meme-Stock probability</div>
                    <div class="prediction-number">99%</div>
                </div>
                <div class="image-container">
                    <img src="https://logo.clearbit.com/gamestop.com" alt="Company logo">
                </div>
                <div class="card-content">
                    <h2>GameStop</h2>
                    <p>Market: US</p>
                    <p>KGV: 22</p>
                </div>
            </div>

            <div class="card">
                <div class="prediction">
                    <div class="prediction-description">AI-generated<br>Meme-Stock probability</div>
                    <div class="prediction-number">89%</div>
                </div>
                <div class="image-container">
                    <img src="https://logo.clearbit.com/nerdy.com" alt="Company logo">
                </div>
                <div class="card-content">
                    <h2>Nerdy</h2>
                    <p>Market: US</p>
                    <p>KGV: 12</p>
                </div>
            </div>

            <div class="card">
                <div class="prediction">
                    <div class="prediction-description">AI-generated<br>Meme-Stock probability</div>
                    <div class="prediction-number">78%</div>
                </div>
                <div class="image-container">
                    <img src="https://logo.clearbit.com/genesco.com" alt="Company logo">
                </div>
                <div class="card-content">
                    <h2>Genesco</h2>
                    <p>Market: US</p>
                    <p>KGV: 18</p>
                </div>
            </div>

            <div class="card">
                <div class="prediction">
                    <div class="prediction-description">AI-generated<br>Meme-Stock probability</div>
                    <div class="prediction-number">77%</div>
                </div>
                <div class="image-container">
                    <img src="https://logo.clearbit.com/vivint.com" alt="Company logo">
                </div>
                <div class="card-content">
                    <h2>Vivint</h2>
                    <p>Market: US</p>
                    <p>KGV: 14</p>
                </div>
            </div>
            
            <div class="card">
                <div class="prediction">
                    <div class="prediction-description">AI-generated<br>Meme-Stock probability</div>
                    <div class="prediction-number">76%</div>
                </div>
                <div class="image-container">
                    <img src="https://logo.clearbit.com/argenx.com" alt="Company logo">
                </div>
                <div class="card-content">
                    <h2>Argenx</h2>
                    <p>Market: US</p>
                    <p>KGV: 24</p>
                </div>
            </div>


        </div>
    </div>
</body>
</html>