{% load static %}
<!DOCTYPE html>
<html lang="en" style="background-image: url({% static 'web_app/background.jpg' %})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stonkscast Dashboard</title>

    <link rel="stylesheet" href="{% static 'web_app/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'web_app/favicon.ico' %}"/>
</head>
<body>
    <header>
        <img src="{% static 'web_app/logo_freigestellt.png' %}" alt="Stonkscast Logo">
    </header>
    <div class="content-wrapper">
        <h1>Top Predictions</h1>
        <div class="cards">
            {% for stock in top_stocks %}

            <div class="card">
                <div class="prediction">
                    <div class="prediction-description">AI-generated<br>Meme-Stock probability</div>
                    <div class="prediction-number">{{stock.score}}%</div>
                </div>
                <div class="image-container">
                    <img src={{stock.logo}} alt="Company logo">
                </div>
                <div class="card-content">
                    <h2>{{stock.long_name}}</h2>
                    <p>Ticker: {{stock.stock_name}}</p>
                    <p>MCAP: {{stock.mcap}}</p>
                    <p>PE: {{stock.kgv}}</p>
                    <p>Price: {{stock.price}}$</p>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</body>
</html>